.clients {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    border: 1px solid currentColor;
    border-radius: 4px;
    max-width: 210px;
    height: 92px;
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}

@media screen and (max-width:767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .clients__list-item {
  flex-basis: calc((100% - 4 *15px) / 2);
    margin: 15px;
  }
  
}
@media screen and (min-width:768px) {
  .clients__list-item {
    --card-list:3;
  }
}

@media screen and (min-width:1200px){
.clients__list-item {
  --card-list:6;
}
}