.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/hero-mobile-img.jpg');
background-color: #c4c4c4;
background-position: center;
background-size: 480px 400px;
background-repeat: no-repeat;
padding-top: 118px;
padding-bottom: 118px;
text-align: center;

&__title {
max-width: 360px;
margin-right: auto;
margin-left: auto;
margin-bottom: 30px;
color: var(--primary-color);
font-weight: 900;
font-size: 26px;
line-height: 1.61;
letter-spacing: 0.06em;
text-transform: uppercase;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/hero-mobile-img@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero-tablet-img.jpg);
    background-size: 768px 400px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tablet-img@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/bhero.jpg);
    background-size: 1600px 600px;
    padding-top: 200px;
padding-bottom: 200px;

    &__title {
      font-size: 42px;
      line-height: 1.36;
      max-width: 600px;
    }
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/hero-desktop-img@2x.jpg');
    }
  }
}
 