
.header {
  border: 1px solid #ececec;
  position: relative;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--primary-color);
  opacity: 0;
  visibility: hidden;
 pointer-events: none;
 transition: opacity 250ms var(--transition), visibility 250ms var(--transition);
 z-index: 2;

  &__container {
position: relative;
padding: 48px 40px;
  }

  &__link {
display: block;
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var( --title-text-color);
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

&__list {
  margin-bottom: 302px;
}

&__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

&__contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  &[href="tel:+380961111111"] {
    font-weight: 500;
font-size: 34px;
line-height: 40px;
color: var(--accent-color);
  }
}

&__contact-list {
  margin-bottom: 64px;
}

&__social-list {
  display: flex;
}

&__social-item {
  margin-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

&__social-link {
  font-weight: 500;
font-size: 18px;
line-height: 22px;
color: var(--accent-color);
padding-right: 10px;
}

  .mobile-menu__btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.active-link {
  color: var(--accent-color);
    }

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-menu__close-icon{
  fill: currentColor;
}

@media screen and (max-width: 415px) {
.mobile-menu__social-list {
  flex-wrap: wrap;
}
}
  
  @media screen and (max-width: 767px) {
    .header {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .header-contact {
      display: none;
    }

    .nav-list {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .mobile-menu__btn {
      display: none;
    }

    .header {
      // padding-top: 20px;
      // padding-bottom: 0px;

      &-link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color var(--transition);
      
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
    }
      .navigation {
        display: flex;
        align-items: center;
      }

    .nav-list {
      display: flex;
      color: var(--title-text-color);
      
       &__item {
        position: relative;

        &:not(:last-child) {
      margin-right: 50px;
       }
  }
  }

  .header-contact {
    margin-left: auto;
    
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__icon {
  fill: currentColor;
  margin-right: 10px;
}

&__link {
  font-weight: 500;
font-size: 12px;
line-height: 1.16;
display: flex;
align-items: center;
transition: color var(--transition);

&:focus,
&:hover {
  color: var(--accent-color);
}
}
}
  }

  @media screen and (min-width: 1200px) {
    .header {
      padding: 0;
    }
    .header-contact {
      display: flex;
      align-items: center;
     
      &__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0px;
      }

      &__link {
        font-size: 14px;
        line-height: 1.16;
      }
    }
  }