.overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    text-align: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    background-color: var(--accent-color);
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition);
    
    .portfolio__link:hover &,
.portfolio__link:focus & {
   transform: translate(0%);
}
  }