:root {
    --primary-color: #ffffff;
    --title-text-color: #212121;
    --description-text-color: #757575;
    --primary-font-family: 'Roboto', sans-serif;
    --accent-color: #2196f3;
    --button-hover-color: #188ce8;
    --section-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --footer-color-link: rgba(255, 255, 255, 0.6);
    --card-list: 3;
    --card-gap: 30px;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }